---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Partners from '../components/Partners.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import SocialProof from '../components/SocialProof.astro';
import LeadMagnet from '../components/LeadMagnet.astro';
import SimpleFooter from '../components/SimpleFooter.astro';
---

<Layout 
  title="Soluciones de Software, SaaS e Inteligencia Artificial | Thinka"
  description="Expertos en Soluciones de Software, SaaS e Inteligencia Artificial. Desarrollamos software a medida y automatizamos procesos para optimizar tu operación global."
>
  <Navbar />
  
  <main>
    <Hero />
    <SocialProof />
    <Services />
    <Products />
    <LeadMagnet />
    <Partners />
  </main>

  <SimpleFooter />
</Layout>
